body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #212228;
    background-image: linear-gradient(#292a30 .1rem, transparent .1rem),
    linear-gradient(90deg, #292a30 .1rem, transparent .1rem);
    background-size: 4rem 4rem;
    height: 100vh;
}
.card{
    width: 400px;
    height: 400px;
    background-color: #AFDA9F;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    padding: 20px;
}

.text{
    color: #292a30;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    border-bottom: 1px solid #292a3063;
}